.contact-us-page {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 50px 0;
  }
  
  .section-title {
    color: #f39c12; /* Naranja */
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    color: #fff; /* Blanco */
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .section-description {
    color: #b2bec3; /* Gris claro */
    font-size: 1rem;
    margin-bottom: 40px;
  }
  
  .contact-method {
    margin-bottom: 30px;
  }
  
  .contact-icon {
    font-size: 2.5rem;
    color: #f39c12; /* Naranja */
    margin-bottom: 10px;
  }
  
  .contact-button {
    background-color: #f39c12; /* Naranja */
    border: none;
    color: #fff; /* Blanco */
    font-size: 1rem;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  .contact-button:hover {
    background-color: #d35400; /* Naranja oscuro */
    border: none;
    color: #fff; /* Blanco */
  }
  