.home {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 50px 0;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.home-subtitle {
  font-size: 1.25rem;
  color: #ccc;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.search-button {
  background-color: #0056b3;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0;
}

.search-button:hover {
  background-color: #004494;
}

.image-container {
  text-align: right;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.home-stats {
  margin-top: 50px;
}

.home-stats h2 {
  font-size: 2rem;
  color: #fff;
}

.home-stats p {
  font-size: 1rem;
  color: #ccc;
}
