

/* Estilos para el logo */
.App-logo {
    height: 30px; 
    margin-right: 10px; 
  }
  
 
  .Navbar.Brand {
    display: flex;
    align-items: center;
  }
  
  .Navbar.Brand > img {
    margin-right: 5px; 
  }
  
  .Navbar.Brand > span {
    font-size: 1.5rem; 
    font-weight: bold; 
  }
  